<!doctype html>
<html>

<head>
  <!-- build: <%= build %> -->
  <meta charset='utf8' />
  <meta name='viewport' content='width=device-width' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
  <title>Svelte app</title>
</head>

<body>
</body>

</html>
